<form method="post" action="{{ path('app_empleados_delete', {'id': empleado.id}) }}" onsubmit="return confirm('¿Estas seguro de borrar?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ empleado.id) }}">
    <button id="empleado-button" class="btn btn-block btn-success submit-button" type="submit">Borrar</button>
</form>