{% extends 'base.html.twig' %}

{% block title %}Nuevos Empleados{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('empleados') }}
    <style>
    
    </style>
{% endblock %}

{% block body %}
<div class="empleado-container">
  <div id="empleado-checkout1">
    <h1>Crear Nuevos Empleados</h1>

    <form class="empleado-form" action="submit">
        {{ include('empleados/_form.html.twig') }}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <button id="empleado-button" class="btn btn-block btn-success submit-button" type="submit">
            <a href="{{ path('app_empleados_index') }}">Volver Lista</a>
        </button>
     </form>
  </div>
</div>
{% endblock %}
