{{ form_start(form) }}
    {{ form_widget(form) }}
    <button id="mantenimiento-button" class="btn btn-block btn-success submit-button" type="submit">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}