{% extends 'base.html.twig' %}

{% block title %}Edit Control{% endblock %}

{% block body %}
    <h1>Edit Control</h1>

    {{ include('control/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_control_index') }}">back to list</a>

    {{ include('control/_delete_form.html.twig') }}
{% endblock %}
