{% extends 'base.html.twig' %}

{% block title %}Nuevos Vehiculos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('coches') }}
    <style>
    
    </style>
{% endblock %}

{% block body %}
<div class="vehiculos-container">
  <div id="vehiculos-checkout1">
    <h1>Crear Nuevos Vehiculos</h1>

    <form class="vehiculos-form" action="submit">
        {{ include('coches/_form.html.twig') }}
        <br>
        <br>
        <br>
        <br>

        <button id="vehiculos-button" class="btn btn-block btn-success submit-button" type="submit">
            <a href="{{ path('app_coches_index') }}">Volver Lista</a>
        </button>
    </form>
  </div>
</div>
{% endblock %}
