.mantenimiento-container {
    margin-top: 50px;
    margin: 20px auto;
  }

  H1{
    color: tomato;
    font-family: "Montserrat";
    font-size: medium;
    margin-top: 20px;
  }
  
  #mantenimiento-checkout {
    z-index: 100001;
    width: 1700px;
    height: auto;
    min-height: 100%;
    background: 0 0 #ffffff;
    border-radius: 8px;
    border: 1px solid #dedede;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  #mantenimiento-checkout>h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
    background: #EEF2F4;
    color: tomato;
    font-size: 24px;
    font-weight: 300;
    border-bottom: 1px solid #DEDEDE;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  #mantenimiento-checkout1 {
    z-index: 100001;
    width: 1200px;
    height: auto;
    min-height: 100%;
    background: 0 0 #ffffff;
    border-radius: 8px;
    border: 1px solid #dedede;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  #mantenimiento-checkout1>h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
    background: #EEF2F4;
    color: tomato;
    font-size: 24px;
    font-weight: 300;
    border-bottom: 1px solid #DEDEDE;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .mantenimiento-form {
    padding: 1.4em;
    height:900px;
    margin: 0 275px 275px;
  }
  
  .mantenimiento-form-izquierda {
    padding-right: 5px;
    float: left;
    width: 50%
  }

  .mantenimiento-form-centro {
    padding-right: 5px;
    float: center;
    width: 50%
  }
  
  .mantenimiento-form-derecha {
    padding-left: 5px;
    float: right;
    width: 50%
  }
  
  .mantenimiento-form label {
    color: #51BFA5;
    margin-bottom: 2px;
    display:block;
    font-size: 17px;
  }
  
  .mantenimiento-form input {
    box-shadow: none!important;
    width: 500px;
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
    padding-left: 5px;
  }
  
  .mantenimiento-form input:focus {
    border-color: #b0e5e3!important;
    background-color: #EEF9F9!important;
  }

  .imagentaller {
    border-radius: 50px;
    width: 450px;
    height: 350px; 
    display:block;
    margin:auto;
   }
  
  #mantenimiento-button {
    outline: 0!important;
    display:block;
    margin:auto;
    margin-top: 20px;
    height: 42px;
    width: 150px;
    font-size: 16px;
    background-color: #51BFA5!important;
    color: black;
    border: none;
  }
  
  #mantenimiento-button:hover {
    background-color: tomato!important;
  }
  
  #mantenimiento-button:active {
    background-color: #4FBCB9!important;
  }
  
  #mantenimiento-button:disabled {
    background: rgba(84, 199, 195, .5)!important;
    color: #FFF!important;
  }

  #mantenimiento-buttonindex {
    outline: 0!important;
    display:block;
    margin:auto;
    margin-top: 20px;
    height: 42px;
    width: 80px;
    font-size: 16px;
    background-color: #51BFA5!important;
    color: black;
    border: none;
  }
  
  #mantenimiento-buttonindex:hover {
    background-color: tomato!important;
  }
  
  #mantenimiento-buttonindex:active {
    background-color: #4FBCB9!important;
  }
  
  #mantenimiento-buttonindex:disabled {
    background: rgba(84, 199, 195, .5)!important;
    color: #FFF!important;
  }

  a:link {
    text-decoration: none 
  }

  a:hover { 
    color: black;
    text-decoration: none 
  }

  a:visited {
    color: black;
    text-decoration: none 
  }
  
  /*****MEDIA QUERYS******/
  @media screen and (max-width: 680px) {
    #mantenimiento-checkout {
      width: 95%;
    }
    .mantenimiento-form {
      margin: 0;
    }
  }
  
  @media screen and (min-width: 681px) and (max-width: 1200px) {
    #mantenimiento-checkout {
      width: 600px;
    }
  }