.incidencia-container {
  margin-top: 50px;
  margin: 20px auto;
}

#incidencia-checkout {
  z-index: 100001;
  width: 1700px;
  height: 100%;
  background: 0 0 #ffffff;
  border-radius: 8px;
  border: 1px solid #dedede;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#incidencia-checkout>h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
  background: #EEF2F4;
  color: tomato;
  font-size: 24px;
  font-weight: 300;
  border-bottom: 1px solid #DEDEDE;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#incidencia-checkout1 {
  z-index: 100001;
  width: 1100px;
  height: 100%;
  background: 0 0 #ffffff;
  border-radius: 8px;
  border: 1px solid #dedede;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#incidencia-checkout1>h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
  background: #EEF2F4;
  color: tomato;
  font-size: 24px;
  font-weight: 300;
  border-bottom: 1px solid #DEDEDE;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


.incidencia-form {
  padding: 1.4em;
  height:900px;
  margin: 0 275px 275px;
}


.incidencia-form label {
  color: #51BFA5;
  margin-bottom: 2px;
  display:block;
  font-size: 17px;
}

.incidencia-form input {
  box-shadow: none!important;
  width: 500px;
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
  padding-left: 5px;
}

.incidencia-form input:focus {
  border-color: #b0e5e3!important;
  background-color: #EEF9F9!important;
}

#incidencia-button {
  outline: 0!important;
  display:block;
  margin:auto;
  margin-top: 20px;
  height: 42px;
  width: 150px;
  font-size: 16px;
  background-color: #51BFA5!important;
  color: black;
  border: none;
}

#incidencia-button:hover {
  background-color: tomato!important;
}

#incidencia-button:active {
  background-color: #4FBCB9!important;
}

#incidencia-button:disabled {
  background: rgba(84, 199, 195, .5)!important;
  color: #FFF!important;
}

#incidencia-buttonindex {
  outline: 0!important;
  display:block;
  margin:auto;
  margin-top: 20px;
  height: 42px;
  width: 80px;
  font-size: 16px;
  background-color: #51BFA5!important;
  color: black;
  border: none;
}

#incidencia-buttonindex:hover {
  background-color: tomato!important;
}

#incidencia-buttonindex:active {
  background-color: #4FBCB9!important;
}

#incidencia-buttonindex:disabled {
  background: rgba(84, 199, 195, .5)!important;
  color: #FFF!important;
}

.imagentrabajador {
 border-radius: 50px;
 width: 450px;
 height: 350px; 
 display:block;
 margin:auto;
}

a:link {
  text-decoration: none 
}

a:hover { 
  color: black;
  text-decoration: none 
}

a:visited {
  color: black;
  text-decoration: none 
}

/*****MEDIA QUERYS******/
@media screen and (max-width: 680px) {
  #incidencia-checkout {
    width: 95%;
  }
  .incidencia-form {
    margin: 0;
  }
}

@media screen and (min-width: 681px) and (max-width: 1200px) {
  #incidencia-checkout {
    width: 600px;
  }
}