<form method="post" action="{{ path('app_incidencias_delete', {'id': incidencium.id}) }}" onsubmit="return confirm('¿Estas seguro de borrar?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ incidencium.id) }}">
    <button id="style-buttonindex" class="btn btn-block btn-success submit-button" type="submit">Borrar</button>
</form>
