<div>
<nav role="navigation">
  <div id="menuToggle">
  
    <!--Se utiliza una casilla de verificación falsa/oculta como receptor de clics,
    para que pueda usar el selector.--> 

    <input type="checkbox" />
    

    <span></span>
    <span></span>
    <span></span>
    
    <!--Menu tiene que estar dentro del boton-->

   
    
    <ul id="menu">
      <a href="/home"><li>INICIO</li></a>
      <a href="/empleados"><li>EMPLEADOS</li></a>
      <a href="/coches"><li>VEHICULOS</li></a>
      <a href="/control"><li>MANTENIMIENTO</li></a>
      <a href="/incidencias"><li>INCIDENCIAS</li></a>
    </ul>
    
    
  </div>
  
</nav>
</div>